.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 0 102px;

  @media (max-width: 1209px) {
    padding: 50px 0;
  }

  &__title {
    @include site-heading;
  }

  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin-top: 53px;

    @media (max-width: 1209px) {
      flex-direction: column;
    }
  }

  &__text {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0px;
    width: 791px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 51px 35px 50px 51px;

    @media (max-width: 1209px) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 30px 15px;
      order: 2;

      &::after {
        display: none;
      }
    }

    @media (max-width: 767px) {
      padding: 20px 15px;
    }

    &::after {
      position: absolute;
      content: "";
      right: -15px;
      width: 15px;
      top: 0;
      bottom: 0;
      background-color: #44c697;
      border-radius: 0px 3px 3px 0px;
    }
  }

  &__text-item {
    font-family: $monsterrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.43;
    color: #1e2e36;
    margin-top: 0;
    letter-spacing: -0.2px;

    span {
      text-transform: uppercase;
      color: #44c697;
      margin-right: 3px;
      letter-spacing: 0.5px;
    }
  }

  &__image {
    margin-left: auto;
    display: block;
    max-width: 100vw;
    height: 675px;
    object-fit: cover;

    @media (max-width: 1209px) {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      order: 1;
    }

    @media (max-width: 767px) {
      object-fit: contain;
    }
  }
}
