.categories {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    @include site-heading;
    font-size: 43px;
    letter-spacing: -0.5px;

    &::before {
      top: 2px;
    }
  }

  &__link {
    @include default-button;
    text-decoration: none;
    width: 190px;
  }
}

.categories-list {
  display: flex;
  width: 100%;
  padding: 0 104px;
  justify-content: space-between;
  box-sizing: border-box;
  list-style-type: none;
  margin: 52px 0 0;

  @media (max-width: 1209px) {
    flex-wrap: wrap;
    padding: 0;
  }

  &__item {
    &:nth-of-type(3) {
      .categories-list__item-button {
        transform: translate(3px, 0px);

        @media (max-width: 1209px) {
          transform: translate(0, 0);
        }
      }
    }

    &:nth-of-type(4) {
      .categories-list__item-button {
        transform: translate(-7px, 0px);

        @media (max-width: 1209px) {
          transform: translate(0, 0);
        }
      }
    }

    &:nth-of-type(5) {
      .categories-list__item-button {
        transform: translate(-5px, 0px);

        @media (max-width: 1209px) {
          transform: translate(0, 0);
        }
      }
    }

    @media (max-width: 1209px) {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }

    @media (max-width: 374px) {
      width: 95px;
    }

    svg {
      align-self: center;
      justify-self: center;

      @media (max-width: 1209px) {
        width: 70px;
      }
    }
  }

  &__item-button {
    background-color: transparent;
    border: none;
    display: grid;
    grid-row-gap: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
    cursor: pointer;

    path {
      fill: #1e2e36;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      path {
        fill: #44c697;
      }

      .categories-list__item-button-text {
        &::after {
          width: 100%;
        }
      }
    }

    &:focus,
    &:active {
      path {
        fill: #44c697;
      }

      .categories-list__item-button-text {
        &::after {
          width: 100%;
        }
      }
    }

    @media (max-width: 1209px) {
      padding: 0;
    }
  }

  &__item-button-text {
    margin-top: auto;
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #1e2e36;
    position: relative;
    transition: 0.3s ease-in-out;
    letter-spacing: -0.6px;
    max-width: 120px;

    &::after {
      transition: 0.3s ease-in-out;
      position: absolute;
      content: "";
      left: 0;
      bottom: -7px;
      background-color: #44c697;
      height: 3px;
      width: 0;
    }

    @media (max-width: 1209px) {
      font-size: 16px;
    }
  }
}

.categories-products {
  margin-top: 90px;
  margin-bottom: 51px;

  .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 15px;

    &-bullet {
      &-active {
        background-color: #44c697;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    overflow: visible;
  }

  @media (max-width: 1209px) {
    margin-top: 45px;
    margin-bottom: 25px;
    padding: 0 15px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &__wrapper {
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    padding: 0;

    @media (max-width: 1439px) {
      grid-column-gap: 15px;
      grid-row-gap: 25px;
    }

    @media (max-width: 1209px) {
      grid-gap: 30px 15px;
    }

    @media (max-width: 767px) {
      width: calc(100vw - 30px);
      grid-gap: 0;
      grid-template-columns: unset;
      grid-template-rows: unset;
      grid-auto-flow: column;
    }
  }

  &__item {
    position: relative;
    transition: 0.3s ease-in-out;
    scroll-snap-align: center;
  }

  &__item-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
  }

  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item-image-addinfo {
    position: absolute;
    left: 0;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;

    &-type,
    &-sale {
      background-color: #1e2e36;
      padding: 5px 15px;
      height: 33px;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      span {
        font-family: $monsterrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        z-index: 2;
      }

      @media (min-width: 768px) and (max-width: 1209px) {
        padding: 0 10px;
        height: 24px;

        span {
          font-size: 13px;
        }
      }
    }

    &-sale {
      background-color: #ff1b1b;
      margin-top: 5px;
    }
  }

  &__item-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 15px 15px;
    transition: 0.3s ease-in-out;

    @media (min-width: 768px) and (max-width: 1209px) {
      padding: 10px 5px;
    }

    @media (max-width: 767px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__item-texts-title {
    margin: 0;
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: #1e2e36;
    text-decoration: none;
    letter-spacing: -0.6px;
    transition: 0.3s ease-in-out;

    @media (max-width: 1599px) {
      font-size: 18px;
    }

    @media (max-width: 1439px) {
      font-size: 16px;
    }

    @media (max-width: 1209px) {
      font-size: 15px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 12px;
    }

    @media (max-width: 767px) {
      font-size: 17px;
    }

    @media (max-width: 374px) {
      font-size: 15px;
    }
  }

  &__item-texts-price {
    span {
      font-family: $monsterrat;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
      color: #1e2e36;
      transition: 0.3s ease-in-out;

      @media (max-width: 1599px) {
        font-size: 18px;
      }

      @media (max-width: 1439px) {
        font-size: 16px;
      }

      @media (max-width: 1209px) {
        font-size: 15px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 13px;
      }

      @media (max-width: 767px) {
        font-size: 17px;
      }

      @media (max-width: 374px) {
        font-size: 15px;
      }

      &:nth-of-type(2) {
        font-size: 16px;
        text-align: center;
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: #bcbdbb;
        position: relative;
        letter-spacing: 0.4px;

        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          right: 0;
          color: #bcbdbb;
          height: 1px;
        }

        @media (max-width: 1599px) {
          font-size: 13px;
        }

        @media (max-width: 1439px) {
          font-size: 12px;
        }

        @media (max-width: 1209px) {
          font-size: 11px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 9px;
        }

        @media (max-width: 767px) {
          font-size: 13px;
        }

        @media (max-width: 374px) {
          font-size: 11px;
        }
      }
    }

    &--is-sale {
      span {
        &:nth-of-type(1) {
          color: #ff1b1b;
          margin-right: 6px;

          @media (min-width: 768px) and (max-width: 1024px) {
            margin-right: 3px;
          }
        }
      }
    }
  }

  &__item-link {
    &:hover,
    &:focus,
    &:active {
      transform: translate(0, -25px);

      @media (max-width: 767px) {
        transform: translate(0, 0);
      }

      .categories-products {
        &__item-texts {
          background-color: #44c697;

          &-title {
            color: #ffffff;
          }
        }

        &__item-texts-price {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
