.footer {
  display: flex;
  position: relative;

  &__to-top-button {
    position: fixed;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #44c697;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 48vh;
    left: 36px;
    cursor: pointer;
    z-index: 10;

    @media (max-width: 1209px) {
      display: none;
    }
  }

  &__image {
    margin-left: auto;
    width: 100%;
    max-width: 57vw;
    object-fit: cover;

    @media (max-width: 1209px) {
      display: none;
    }
  }
}

.footer-wrapper {
  background-color: #1e2e36;
  width: 100%;
  padding: 50px 56px 15px 51px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (max-width: 1616px) {
    padding: 50px 25px 15px 50px;
  }

  @media (max-width: 1309px) {
    padding-left: 15px;
  }

  @media (max-width: 1209px) {
    padding: 30px 15px 15px;
    align-items: center;
  }

  &__logo {
    @media (max-width: 1209px) {
      width: 250px;
    }
  }
}

.footer-wrapper-navigation {
  display: flex;
  flex-direction: row;
  margin-top: 51px;
  margin-left: 20px;

  @media (max-width: 1209px) {
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;

    @media (min-width: 605px) and (max-width: 1209px) {
      justify-content: space-between;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &:first-child {
      margin-right: 74px;
    }

    @media (max-width: 1209px) {
      &:first-child {
        padding-left: 20px;
      }
    }

    @media (max-width: 374px) {
      &:nth-child(2) {
        padding-left: 20px;
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 18px;

    &::before {
      position: absolute;
      content: "";
      left: -20px;
      top: 50%;
      width: 14px;
      height: 2px;
      background-color: #44c697;
    }
  }

  &__item-link {
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    @media (max-width: 1209px) {
      font-size: 14px;
    }
  }

  &__schedule {
    margin: 0;
    padding: 0 0 0 86px;
    list-style-type: none;

    @media (max-width: 1616px) {
      padding-left: 30px;
    }

    @media (max-width: 1209px) {
      margin-top: 0;
      padding: 0 0 0 20px;
    }

    @media (max-width: 599px) {
      padding: 0;
      margin-top: 20px;
    }
  }

  &__schedule-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    &--is-phones {
      align-items: flex-start;
    }

    &--is-links {
      font-family: $monsterrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      margin-top: 29px;
      letter-spacing: -0.2px;
      align-items: flex-start;

      @media (max-width: 767px) {
        margin-top: 15px;
      }
    }

    &-text {
      font-family: $monsterrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      color: #ffffff;
      text-transform: uppercase;
      margin-left: 6px;
      letter-spacing: 0.3px;

      &--is-calendar {
        text-transform: none;

        @media (max-width: 1389px) {
          font-size: 12px;
        }
      }
    }

    &-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;
      margin-left: 8px;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
          transform: translate(-2px, -1px);
        }
      }

      &--is-text {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-top: 0;

        a {
          margin-right: 0;

          &:last-child {
            transform: translate(0, 0);
          }
        }
      }
    }

    &-link {
      font-family: $monsterrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: #44c697;
      text-decoration: none;
      line-height: 1.75;
      letter-spacing: 0.6px;

      @media (max-width: 1389px) {
        font-size: 13px;
      }
    }
  }
}

.footer-wrapper-developers {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: auto;
  width: 100%;

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  &__item {
    font-family: $monsterrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: #ffffff;
    letter-spacing: -0.3px;
    transform: translate(0px, 2px);

    @media (max-width: 1616px) {
      font-size: 12px;
    }

    @media (max-width: 1309px) {
      font-size: 11px;
    }

    @media (max-width: 767px) {
      &:first-child {
        order: 2;
        align-self: center;
      }

      &:last-child {
        order: 1;
        margin-bottom: 10px;
      }
    }

    &-text {
      font-family: $cuprum;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0;
      transform: translate(0px, -1px);
      line-height: 1.142;
      text-transform: uppercase;

      @media (max-width: 1309px) {
        font-size: 13px;
      }

      @media (max-width: 767px) {
        font-size: 16px;
      }

      @media (max-width: 374px) {
        font-size: 15px;
      }
    }

    &-logo {
      margin-right: 3px;
    }
  }
}
