.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-info-contacts {
  display: flex;
  align-items: baseline;
  height: 27px;

  &__text {
    margin-left: 1px;
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.3px;
    font-size: 16px;
    line-height: 22px;
    color: #1e2e36;
    transform: translate(0px, -5px);
  }

  &__link {
    &:first-of-type {
      margin-left: 15px;
    }

    &:nth-of-type(2) {
      margin-left: 30px;
      transform: translate(0px, 1px);
    }

    &:nth-of-type(3) {
      margin-left: 28px;
    }
  }
}

.header-info-contacts-phone {
  display: flex;
  align-items: center;
  margin-left: 59px;

  &__logo {
    transform: translate(0px, 1px);
  }

  &__link {
    font-family: $monsterrat;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #1e2e36;
    margin-left: 5px;
  }

  &__arrow {
    transform: rotate(-90deg);
    margin-left: 14px;
    width: 9px;
  }
}

.header-info-navigation {
  padding-right: 3px;
  &__link {
    position: relative;
    font-family: $monsterrat;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1e2e36;
    margin-right: 15px;
    letter-spacing: -1.1px;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: #44c697;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: -3px;
      transition: 0.3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }
}

.header__line {
  height: 1px;
  background-color: #1e2e36;
  width: 100%;
  margin-top: -1px;
}

.header-navigation {
  height: 105px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 0 0 1px;
  }

  &__item {
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    text-decoration: none;
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1e2e36;
    margin-right: 10px;
  }

  &__item-arrow {
    transform: rotate(-90deg);
  }

  &__logo-link {
    margin-right: 75px;
    margin-top: 5px;

    @media (max-width: 1819px) {
      margin-right: 3.9vw;
    }

    @media (max-width: 1679px) {
      margin-right: 0;
    }
  }

  &__logo-item {
    max-width: 360px;
    @media (max-width: 1819px) {
      width: 19vw;
    }
  }
}

.header-navigation-call {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__cart-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: #44c697;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: -10px;
      transition: 0.3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }

  &__cart-logo {
    margin-right: 5px;
  }

  &__cart-text {
    font-family: $monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #1e2e36;
  }

  &__button {
    @include default-button;
    width: 278px;
    margin-right: 1px;

    @media (max-width: 1819px) {
      width: 14.4vw;
    }
  }
}
