@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import "~normalize.css";

@import "/src/scss/variables";
@import "/src/scss/mixin";
@import "/src/scss/header";
@import "/src/scss/mobile-header";

html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (min-width: #{1210px + $wrapper-padding * 2}) {
    --wrapper-width: #{$wrapper-width-wide};
  }
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: #{1210px + $wrapper-padding * 2}) and (max-width: #{$wrapper-width-wide + $wrapper-padding * 2}) {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    max-width: 100%;
  }

  @media (max-width: 1209px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: var(--wrapper-width);
  }
}

.header {
  &--is-desktop {
    @media (max-width: 1209px) {
      display: none;
    }
  }

  &--is-mobile {
    @media (min-width: 1210px) {
      display: none;
    }
  }
}

.modal--is-opened {
  overflow: hidden;
}

.swiper {
  width: 1680px;
  max-width: 100%;
  height: 300px;
}

.swiper-slide {
  height: 300px;
  background-color: red;
  scroll-snap-align: start;

  &:first-child {
    background-color: white;
  }
}

.swiper-wrapper {
  scroll-snap-type: x mandatory;
}
