@import url("https://fonts.googleapis.com/css2?family=Cuprum&family=Montserrat:wght@400;600;700;800&display=swap");
@import "~normalize.css";
@import "~swiper/css/bundle";

@import "/src/scss/variables";
@import "/src/scss/mixin";
@import "/src/scss/header";
@import "/src/scss/mobile-header";
@import "/src/scss/hero";
@import "/src/scss/benefits";
@import "/src/scss/categories";
@import "/src/scss/about-us";
@import "/src/scss/form-section";
@import "/src/scss/footer";

html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (min-width: #{1210px + $wrapper-padding * 2}) {
    --wrapper-width: #{$wrapper-width-wide};
  }

  @media (max-width: 1209px) {
    --wrapper-padding: #{$wrapper-padding-mobile};
  }
}

.wrapper {
  max-width: calc(var(--wrapper-width) + (var(--wrapper-padding) * 2));
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: #{1210px + $wrapper-padding * 2}) {
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
  }
}

.header {
  &--is-desktop {
    @media (max-width: 1209px) {
      display: none;
    }
  }

  &--is-mobile {
    @media (min-width: 1210px) {
      display: none;
    }
  }
}

.modal--is-opened {
  overflow: hidden;
}
